/*
    Document   : main
    Created on : 11.06.2012, 22:44:03
    Author     : morontt
    Description: Purpose of the stylesheet follows.
*/

body {
    font-family: "Consolas", "Lucida Console", monospace;
    font-size: 12pt;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.ym-wrapper {
    max-width: 80em;
}

.ym-column {
    display: block;
    overflow: hidden;
    padding-right: 250px; /* column width */
    width: auto;
}

.ym-col1 {
    /* content */
    position: relative;
    float: left;
    width: 100%;
}

.ym-col3 {
    /* sidebar */
    position: relative;
    float: left;
    width: 250px; /* column width */
    margin: 0 -250px 0 0;
}

.syntaxhighlighter {
    padding: 2px 0;
}

header {
    background: #859C40;
}

header .ym-wbox {
    position: relative;
    background: url('/img/logo_ant.png') right center no-repeat;
    background-size: contain;
}

footer {
    background: url('/img/background/bg-footer.png') repeat;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

#main {
    background: url('/img/background/bg-main.png') repeat;
}

#main .ym-wrapper {
    background: #DCE7B4;
    background: rgba(255, 255, 255, 0.5);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.0)), color-stop(25%, rgba(255, 255, 255, 0.5)), color-stop(75%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.0)));
    background: linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.0) 100%);
}

.category-list-header {
    background: #859C40;
    padding: 5px 0 5px 1.5em;
    color: #FFF;
    -webkit-border-radius: 0.3em 0.3em 0 0;
    -moz-border-radius: 0.3em 0.3em 0 0;
    border-radius: 0.3em 0.3em 0 0;
}

.category-list {
    background: #BBCC87;
    background: rgba(141, 162, 70, 0.3);
    padding: 5px 0 5px 0.7em;
    margin-bottom: 15px;
    -webkit-border-radius: 0 0 0.3em 0.3em;
    -moz-border-radius: 0 0 0.3em 0.3em;
    border-radius: 0 0 0.3em 0.3em;
}

.category-list ul {
    margin: 0;
    list-style-type: none;
}

.category-list ul a {
    color: #000;
    text-decoration: none;
}

.category-list ul a:hover {
    color: #507C0C;
}

.tag-list {
    background: #BBCC87;
    background: rgba(141, 162, 70, 0.3);
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 0 0 0.3em 0.3em;
    -webkit-border-radius: 0 0 0.3em 0.3em;
    -moz-border-radius: 0 0 0.3em 0.3em;
    text-align: center;
}

.tag-list ul {
    margin: 0 0.3em;
    list-style-type: none;
}

.tag-list li {
    display: inline;
    line-height: 1em;
    margin-left: 0;
}

.tag-list ul a {
    color: #000;
    text-decoration: none;
}

.tag-list ul a:hover {
    color: #507C0C;
}

.ym-col1 a {
    color: #008CD9;
}

.ym-col1 a:hover {
    color: #5B9A05;
}

.ym-col1 article {
    background: #F5F8E9;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 1.2em;
    padding: 0.6em 1em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.ym-col1 article time {
    float: right;
    display: inline;
    font-size: 10pt;
    color: #8FA936;
}

.ym-col1 article h2 {
    font-size: 17pt;
}

.ym-col1 article h2 a {
    color: #000;
    text-decoration: none;
}

.ym-col1 article .text-post {
    border-top: solid 1px #DCE7B4;
    border-bottom: solid 1px #DCE7B4;
    margin: 0.3em 0 0.3em;
    padding: 0.5em 0 0.5em;
}

.ym-col1 article .text-post p {
    margin-bottom: 0.75em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a.ext:after {
    content: "↵";
}

.ym-col1 article .text-post .link-preview {
    margin: 0.8em 0 0;
    text-align: right;
}

.ym-col1 article .text-post .link-preview a {
    color: #FFF;
    text-decoration: none;
    padding: 0 0.5em;
    background: #008CD9;
    background: rgba(0, 140, 217, 0.7);
    background: -moz-linear-gradient(left, rgba(0, 140, 217, 0.65) 0%, rgba(0, 140, 217, 1.0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 140, 217, 0.65) 0%, rgba(0, 140, 217, 1.0) 100%);
    background: -o-linear-gradient(left, rgba(0, 140, 217, 0.65) 0%, rgba(0, 140, 217, 1.0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 140, 217, 0.65) 0%, rgba(0, 140, 217, 1.0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 140, 217, 0.65)), color-stop(100%, rgba(0, 140, 217, 1.0)));
    background: linear-gradient(left, rgba(0, 140, 217, 0.65) 0%, rgba(0, 140, 217, 1.0) 100%);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.ym-col1 article .text-post .link-preview a:hover {
    margin-right: -5px;
}

.ym-col1 article .tags a {
    color: #FFF;
    text-decoration: none;
    padding: 0 0.3em;
    background: #90A54A;
    background: rgba(141, 162, 70, 0.9);
    background: -moz-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -webkit-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -o-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -ms-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(141, 162, 70, 1.0)), color-stop(100%, rgba(141, 162, 70, 0.63)));
    background: linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.ym-col1 article .tags a:hover {
    background: #65703D;
    background: rgba(85, 98, 43, 0.9);
    background: -moz-linear-gradient(left, rgba(85, 98, 43, 0.9) 0%, rgba(85, 98, 43, 0.5) 100%);
    background: -webkit-linear-gradient(left, rgba(85, 98, 43, 0.9) 0%, rgba(85, 98, 43, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(85, 98, 43, 0.9) 0%, rgba(85, 98, 43, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(85, 98, 43, 0.9) 0%, rgba(85, 98, 43, 0.5) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(85, 98, 43, 0.9)), color-stop(100%, rgba(85, 98, 43, 0.5)));
    background: linear-gradient(left, rgba(85, 98, 43, 0.9) 0%, rgba(85, 98, 43, 0.5) 100%);
}

.paginator {
    margin: 3em 0 0;
    padding: 5px;
    text-align: center;
    background: #ADBD72;
    background: rgba(141, 162, 70, 0.6);
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}

.paginator a,
.paginator span {
    padding: 0 0.7em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    color: #FFF;
    text-decoration: none;
}

.paginator a {
    background: #90A54A;
    background: rgba(141, 162, 70, 0.9);
}

.paginator a:hover {
    background: #A3B566;
    background: rgba(141, 162, 70, 0.3);
    color: #FFF;
}

.paginator span {
    background: #A3B566;
    background: rgba(141, 162, 70, 0.3);
}

.count_comments {
    text-align: right;
}

section#comments {
    background: #BBCC87;
    background: rgba(141, 162, 70, 0.3);
    padding: 0.6em 1em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

section#comments .comment-item .comment-body {
    background: #F5F8E9;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.6em;
    padding: 9px 0.6em 0.6em 9px;
    -webkit-border-radius: 0 0 0.2em 0.2em;
    -moz-border-radius: 0 0 0.2em 0.2em;
    border-radius: 0 0 0.2em 0.2em;
}

section#comments .comment-item .comment-header {
    background: #90A54A;
    background: rgba(141, 162, 70, 0.9);
    background: -moz-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.43) 100%);
    background: -webkit-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.43) 100%);
    background: -o-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.43) 100%);
    background: -ms-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.43) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(141, 162, 70, 1.0)), color-stop(100%, rgba(141, 162, 70, 0.43)));
    background: linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.43) 100%);
    padding: 4px 1em 4px 108px;
    color: #FFF;
    border-radius: 0.3em 0.3em 0 0;
    -webkit-border-radius: 0.3em 0.3em 0 0;
    -moz-border-radius: 0.3em 0.3em 0 0;
}

section#comments .comment-item time {
    float: right;
    display: inline;
    font-size: 10pt;
    color: #FFF;
}

section#comments .comment-header a {
    color: #FFF200;
    text-decoration: none;
}

section#comments .comment-header a:after {
    content: "↵";
}

.comment-body .avatar {
    border: #90A54A 3px solid;
    background: #F5F8E9;
    padding: 1px;
    height: 80px;
    width: 80px;
    margin-top: -34px;
    float: left;
}

.comment-body .comment-text {
    margin-left: 99px;
}

.text-post img {
    margin-top: 0.3em;
    border: 2px #eee solid;
    border: 2px rgba(255, 255, 255, 1) solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    max-width: 100%;
}

.ym-form {
    background: none;
    border: none;
    margin: 0;
    padding: 0.5em 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ym-columnar .ym-fbox-text label,
.ym-columnar .ym-fbox-select label {
    width: 25%;
}

.ym-columnar .ym-fbox-select select,
.ym-columnar .ym-fbox-text input,
.ym-columnar .ym-fbox-text textarea {
    width: 75%;
}

.ym-form label {
    color: #000;
}

.ym-form div.ym-fbox-button {
    background: none;
    border-top: 1px dashed #8DA246;
    padding: 0 1em 0.7em;
    text-align: right;
}

.ym-form button {
    margin: 0.7em 0 0 0;
}

#comment_add {
    border: 2px solid #8DA246;
    padding: 0.5em 0;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    margin-bottom: 0.6em;
    position: relative;
}

#comment_add .required {
    background: url("/img/req_asterisk.png") no-repeat left center;
    padding-left: 24px;
}

.form_note {
    padding: 0 0 0 1em;
    border-top: 1px dashed #8DA246;
    font-size: 11pt;
}

.ym-form input:invalid,
.ym-form textarea:invalid {
    background-color: #EAF1D2;
}

.ym-form input,
.ym-form textarea,
.ym-form select,
.ym-form optgroup {
    font-family: "Consolas", "Lucida Console", monospace;
    font-size: 12pt;
}

#comments #noscript {
    background: #000 url("/img/req_asterisk.png") no-repeat 10px 50%;
    color: #FFF;
    border: 1px solid #FFFFFF;
    margin: 0 0 10px;
    padding: 5px 5px 5px 36px;
}

#comments .comment-reply {
    border-top: 1px solid #DCE7B4;
    margin: 0.5em 0 0;
    padding: 0.3em 0 0;
    text-align: right;
}

#comments .comment-reply span,
#topic-reply span {
    color: #FFF;
    text-decoration: none;
    padding: 0 0.3em;
    cursor: pointer;
    background: #C7D2A2;
    background: rgba(141, 162, 70, 0.4);
    background: -moz-linear-gradient(left, rgba(141, 162, 70, 0.8) 0%, rgba(141, 162, 70, 0.4) 100%);
    background: -webkit-linear-gradient(left, rgba(141, 162, 70, 0.8) 0%, rgba(141, 162, 70, 0.4) 100%);
    background: -o-linear-gradient(left, rgba(141, 162, 70, 0.8) 0%, rgba(141, 162, 70, 0.4) 100%);
    background: -ms-linear-gradient(left, rgba(141, 162, 70, 0.8) 0%, rgba(141, 162, 70, 0.4) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(141, 162, 70, 0.8)), color-stop(100%, rgba(141, 162, 70, 0.4)));
    background: linear-gradient(left, rgba(141, 162, 70, 0.8) 0%, rgba(141, 162, 70, 0.4) 100%);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

#comments .comment-reply span:hover,
#topic-reply span:hover {
    background: #90A54A;
    background: rgba(141, 162, 70, 0.9);
    background: -moz-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -webkit-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -o-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -ms-linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(141, 162, 70, 1.0)), color-stop(100%, rgba(141, 162, 70, 0.63)));
    background: linear-gradient(left, rgba(141, 162, 70, 1.0) 0%, rgba(141, 162, 70, 0.63) 100%);
}

#topic-reply {
    background: #F5F8E9;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.6em;
    text-align: center;
    padding: 9px 0.6em 0.6em 9px;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

#twitter-header,
.twitter-status {
    font-size: 10pt;
}

#twitter-header {
    background: #859C40;
    padding: 5px;
    color: #FFF;
    -webkit-border-radius: 0.3em 0.3em 0 0;
    -moz-border-radius: 0.3em 0.3em 0 0;
    border-radius: 0.3em 0.3em 0 0;
}

#twitter-header img {
    display: block;
    float: left;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
}

#twitter-header .desc {
    padding-left: 42px;
}

#twitter-header .desc a {
    color: #FFF;
    text-decoration: none;
}

#twitter-footer {
    background: #859C40;
    color: #FFF;
    padding: 5px 8px;
    margin-bottom: 15px;
    -webkit-border-radius: 0 0 0.3em 0.3em;
    -moz-border-radius: 0 0 0.3em 0.3em;
    border-radius: 0 0 0.3em 0.3em;
}

#twitter-footer a {
    display: block;
    float: left;
    color: #FFF;
    text-decoration: none;
}

#twitter-footer span {
    text-align: right;
}

#twitter-footer span a {
    float: none;
}

#twitter-footer span a:hover {
    text-decoration: underline;
}

.twitter-status {
    background: #000;
    color: #FFF;
    padding: 5px;
    border-bottom: 1px dashed #BBCC87;
}

.twitter-status a {
    color: #95E61D;
    text-decoration: none;
}

.twitter-status a.hash {
    color: #33E61D;
}

.twitter-status a.user {
    color: #00A2E8;
}

.twitter-status a:hover,
.twitter-status a.hash:hover,
.twitter-status a.user:hover {
    color: #E6E600;
}

#twitter-status-list :last-child {
    border-bottom: none;
}

.twitter_time {
    display: block;
    text-align: right;
    font-size: 9pt;
}

.ym-hlist {
    min-height: 48px;
}

#social-links {
    height: 32px;
    position: absolute;
    top: 8px;
    right: 34px;
}

#social-links a {
    display: inline-block;
    background: url('/img/flat_button.png') no-repeat;
    width: 32px;
    height: 32px;
    text-indent: 64px;
    overflow: hidden;
}

#social-links a.s-rss {
    background-position: -170px 0;
}

#social-links a.s-fcb {
    background-position: 0 0;
}

#social-links a.s-twt {
    background-position: -204px 0;
}

#social-links a.s-ins {
    background-position: -102px 0;
}

#social-links a.s-lj {
    background-position: -136px 0;
}

#social-links a.s-git {
    background-position: -34px 0;
}

#social-links a.s-gp {
    background-position: -68px 0;
}

#social-links a.s-rss:hover {
    background-position: -170px -34px;
}

#social-links a.s-fcb:hover {
    background-position: 0 -34px;
}

#social-links a.s-twt:hover {
    background-position: -204px -34px;
}

#social-links a.s-ins:hover {
    background-position: -102px -34px;
}

#social-links a.s-lj:hover {
    background-position: -136px -34px;
}

#social-links a.s-git:hover {
    background-position: -34px -34px;
}

#social-links a.s-gp:hover {
    background-position: -68px -34px;
}

.text-post #chart_container img {
    margin-top: 0;
    border: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.quote-div {
    text-align: right;
    color: #666;
}

#comentators {
    background: #BBCC87;
    background: rgba(141, 162, 70, 0.3);
    padding: 0.6em 1em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.comentators-item-wrap {
    width: 50%;
    float: left;
    margin-bottom: 0.6em;
}

.comentators-item {
    padding: 7px 15px;
    background: #F5F8E9;
    background: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.comentators-item img {
    display: block;
    float: left;
    margin: 0;
}

.comentators-info {
    margin-left: 99px;
}

.comentators-info span {
    text-decoration: underline;
}

.article-stats a {
    color: #5B9A05;
}

.article-stats a:hover {
    color: #69BA00;
}

.author-link {
    float: right;
}

.ym-col1 section#social {
    background: #F5F8E9;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 1.2em;
    padding: 0.6em 1em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    height: 20px;
}

#social .facebook {
    float: left;
}

#social .twitter {
    float: left;
}

#social .googleplus {
    float: left;
    margin-left: 5px;
    width: 65px;
}

.ajax-loader {
    position: absolute;
    background: url('/img/ajax-loader.gif') center center no-repeat #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.25;
    display: none;
}

#dis_comm {
    border: 2px solid #8DA246;
    background: #F5F8E9;
    background: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    margin-bottom: 1.2em;
    padding: 0.6em 1em;
}

p.notice {
    background: #CAD5A9;
    background: rgba(141, 162, 70, 0.3);
    border-radius: 0.3em;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 5px 15px;
}
